* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 233, 233);
  font-family: Arial, Helvetica, sans-serif;
}

/************* UTILITY **************/

.element_line {
  display: inline-block;
}

.element_padding {
  padding: 10px 40px;
}

.bg_lightblue {
  background-color: rgb(27, 167, 214);
}

.bg_purple {
  background-color: rgb(130, 36, 184);
}

.bg_acquamarine {
  background-color: aquamarine;
}

.bg_orange {
  background-color: orange;
}

.bg_pink {
  background-color: rgb(194, 89, 171);
}

.bg_lightgreen {
  background-color: rgb(78, 131, 43);
}

.white_color {
  color: white;
}

.grey_transparent_color {
  color: rgba(128, 128, 128, 0.3);
}

.green_color {
  color: green;
}

.red_color {
  color: red;
}

.border_grey {
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.border_green {
  border: 1px solid green;
}

.border_red {
  border: 1px solid red;
}



/************* HEADER **************/

header {
  background-color: white;
  width: 100%;
}

#logo,
h1 {
  font-weight: 800;
  vertical-align: middle;
}



/************* MAIN **************/

main {
  background-color: white;
  width: 70%;
  margin: 40px auto;
  border-radius: 10px;
}

#user_bar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  margin-bottom: 30px;
}

.user_button {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 6px;
}

ul {
  line-height: 2rem;
  list-style: none;
}

.check {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 0.5rem;
  line-height: 15px;
}

.marked {
  border-radius: 30px;
  font-size: 0.6rem;
  margin: 5px;
  padding: 0 20px;
}